<html>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <title>Administrator</title>
</head>
<body>

<style>
    table {
        table-layout: fixed; /* Фиксированная ширина ячеек */
        width: 100%; /* Ширина таблицы */
    }
    .col1 { width: 160px; }
    .coln { width: 60px; }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <span class="navbar-brand mb-0 h1">BEENAVIGATOR</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link ml-4" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-4" href="/admin">Карта</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-4" href="/content_admin">Провайдеры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-4" href="/sms_admin">SMS</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CRM
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/crm_admin">CRM SR Prepaid</a>
                    <a class="dropdown-item" href="/crmpost_admin">CRM SR Postpaid</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Роуминг
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/prepaid_admin">Роуминг Pre</a>
                    <a class="dropdown-item" href="/postpaid_admin">Роуминг Post</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Админ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/add">Добавить села</a>
                    <a class="dropdown-item" href="/add_prepaid">Добавить prepaid страны</a>
                    <a class="dropdown-item" href="/add_postpaid">Добавить postpaid страны</a>
                    <a class="dropdown-item" href="/add_content">Добавить контент службы</a>
                    <a class="dropdown-item" href="/add_sms">Добавить SMS-рассылки</a>
                    <a class="dropdown-item" href="/add_crm">Добавить SR prepaid</a>
                    <a class="dropdown-item" href="/add_crmpost">Добавить SR postpaid</a>

                </div>
            </li>
        </ul>
    </div>
    <form class="mx-auto" action="/logout" method="post">
        <button class="btn btn-outline-dark ml-2 "  type="submit">Выйти</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
</nav>


<div class="container mt-5">
</div>
<div class="mx-auto" style="width: 1250px;">
    <div class="input-group input-group m-5">

        <form class="px-4 py-8 col-sm-5" action="/update" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">

            <div class="form-group" >

                <input type="hidden" class="form-control" value="{{#id}}{{id}}{{/id}}" name="id" >
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">

            </div>


            <div class="form-group" >
                <label for="area" >Область</label>
                <input type="area" class="form-control" value="{{#area}}{{area}}{{/area}}" name="area" >
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">

            </div>
            <div class="form-group">
                <label for="district">Район</label>
                <input type="district" class="form-control" value="{{#district}}{{district}}{{/district}}" name="district" >
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">

            </div>

            <div class="form-group">
                <label for="region">Округ</label>
                <input type="region" class="form-control" value="{{#region}}{{region}}{{/region}}" name="region" >
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            </div>


            <div class="form-group">
                <label for="selo">Село</label>
                <input type="selo" class="form-control" value="{{#selo}}{{selo}}{{/selo}}" name="selo" >
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">

            </div>

            <div class="form-group">
                <label for="voice">2G</label>
                <input type="voice" class="form-control" value="{{#voice}}{{voice}}{{/voice}}" name="voice" >
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">

            </div>

            <div class="form-group">
                <label for="WCDMA">3G</label>
                <input type="WCDMA" class="form-control" value="{{#WCDMA}}{{WCDMA}}{{/WCDMA}}" name="WCDMA" >
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">

            </div>

            <div class="form-group">
                <label for="LTE">4G</label>
                <input type="LTE" class="form-control" value="{{#LTE}}{{LTE}}{{/LTE}}" name="LTE" >
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">

            </div>

            <button type="submit" class="btn btn-dark ">Обновить</button>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form>
    </div>
</div>

<footer>
    <div class="navbar ">
        <div class="navbar-light bg-light fixed-bottom">
            <span class="navbar-brand mb-3	"></span>
            <p class="text-center">Beeline © 2020</p>
        </div>
    </div>
</footer>

</body>
</html>

