<!DOCTYPE HTML>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BeeНавигатор</title>

    <!-- Behavioral Meta Data -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <link href="css/style.css" rel='stylesheet' type='text/css'>

</head>

<body>

<a name="ancre"></a>

<!-- CACHE -->
<div class="cache"></div>


<!-- HEADER -->
<div id="wrapper-header">
    <div id="main-header" class="object">
        <div class="logo"> </div>

        <div id="stripes"></div>
    </div>
</div>


<!-- NAVBAR -->

<div id="wrapper-navbar">
    <div class="navbar object">
        <div id="wrapper-sorting">
            <div id="wrapper-title-1">
                <a href="/" > <div class="top-rated object">Главная</div></a>
                    <div id="fleche-nav-1"></div>

            </div>

            <div id="wrapper-title-3">
                <a href="/admin"><div class="oldies object">Вход для админа</div></a>
                <div id="fleche-nav-3"></div>

            </div>



        </div>
        <div id="wrapper-bouton-icon">
            <div id="bouton-ai"><a href="/vip"><img src="/img/icon-ai.svg" alt="Проверка номера" title="Проверка номера" height="28" width="28"></a></div>
            <div id="bouton-psd"><a href="/prepaid"><img src="/img/icon-psd.svg" alt="prepaid" title="Роуминг" height="28" width="28"></a></div>
            <div id="bouton-theme"><a href="/sms"><img src="/img/icon-themes.svg" alt="SMS-" title="SMS-рассылка" height="28" width="28"></a></div>
            <div id="bouton-font"><a href="/privet"><img src="/img/icon-font.svg" alt="Привет+" title="Привет+" height="28" width="28"></a></div>
            <div id="bouton-photo"><a href="/pull"><img src="/img/icon-photo.svg" alt="Пулы" title="Пулы" height="28" width="28"></a></div>
            <div id="bouton-premium"><a href="/map"><img src="/img/icon-premium.svg" alt="Карта покрытия" title="Карта покрытия" height="28" width="28"></a></div>
        </div>
    </div>
</div>

<!-- FILTER -->

<div id="main-container-menu" class="object">
    <div class="container-menu">

        <div id="main-cross">
            <div id="cross-menu"></div>
        </div>

        <div id="main-small-logo">
            <div class="small-logo"></div>
        </div>

        <div id="main-premium-ressource">
            <div class="premium-ressource"><a href="/map"></a></div>
        </div>

        <div id="main-themes">
            <div class="themes"><a href="#">Latest themes</a></div>
        </div>

        <div id="main-psd">
            <div class="psd"><a href="#">PSD goodies</a></div>
        </div>

        <div id="main-ai">
            <div class="ai"><a href="#">Illustrator freebies</a></div>
        </div>

        <div id="main-font">
            <div class="font"><a href="#">Free fonts</a></div>
        </div>

        <div id="main-photo">
            <div class="photo"><a href="#">Free stock photos</a></div>
        </div>

    </div>
</div>


<!-- PORTFOLIO -->

<div id="wrapper-container">

    <div class="container object">

        <div id="main-container-image">

            <section class="work">

                <figure class="white">
                    <a href="/map">

                        <img src="/img/theme-4.jpg" alt="" />

                        <dl>
                            <dt>Карта покрытия</dt>
                            <dd>В этом разделе можно искать населенные пункты КР и предоставлять информацию о наличии 3G или 4G</dd>
                        </dl>
                    </a>
                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="/img/icon-premium.svg" alt="" width="28" height="28"/></div>
                        <div id="part-info">Карта покрытия</div>
                    </div>
                </figure>

                <figure class="white">
                    <a href="/privet">
                        <img src="/img/font-1.jpg" alt="" />
                        <dl>
                            <dt>Привет+</dt>
                            <dd>Замените гудки на любимую мелодию. В этом разделе можно найти код мелодии по исполнителю.</dd>
                        </dl>
                    </a>
                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="/img/icon-font.svg" alt="" width="28" height="28"/></div>
                        <div id="part-info">Привет+</div>
                    </div>
                </figure>

                <figure class="white">
                    <a href="/prepaid">
                        <img src="/img/psd-1.jpg" alt="" />
                        <dl>
                            <dt>Prepaid роуминг</dt>
                            <dd>Страны где есть роуминг для наших prepaid клиентов.</dd>
                        </dl>
                    </a>
                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="/img/icon-psd.svg" alt="" width="28" height="28"/></div>
                        <div id="part-info">Prepaid роуминг</div>
                    </div>
                </figure>

                <figure class="white">
                    <a href="/postpaid">
                        <img src="/img/psd-2.jpg" alt="" />
                        <dl>
                            <dt>Postpaid роуминг</dt>
                            <dd>Страны где есть роуминг для наших postpaid клиентов.</dd>
                        </dl>
                    </a>
                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="/img/icon-psd.svg" alt="" width="28" height="28"/></div>
                        <div id="part-info">Postpaid роуминг</div>
                    </div>
                </figure>

                <figure class="white">
                    <a href="/vip">
                        <img src="/img/ai-1.jpg" alt="" />
                        <dl>
                            <dt>Проверка номеров</dt>
                            <dd>В этом разделе можно проверить к какой категории номеров относится номер клиента.</dd>
                        </dl>
                    </a>
                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="/img/icon-ai.svg" alt="" width="28" height="28"/></div>
                        <div id="part-info">Проверка номеров</div>
                    </div>
                </figure>

                <figure class="white">
                    <a href="/sms">
                        <img src="/img/theme-2.jpg" alt="" />
                        <dl>
                            <dt>SMS-рассылки</dt>
                            <dd>В этом разделе размещен график SMS-рассылок.</dd>
                        </dl>
                    </a>
                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="/img/icon-themes.svg" alt="" width="28" height="28"/></div>
                        <div id="part-info">SMS-рассылки</div>
                    </div>
                </figure>

                <figure class="white">
                    <a href="/content">
                        <img src="/img/psd-3.jpg" alt="" />
                        <dl>
                            <dt>Контент провайдеры</dt>
                            <dd>В этом разделе размещены все контент провайдеры.</dd>
                        </dl>
                    </a>
                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="/img/icon-psd.svg" alt="" width="28" height="28"/></div>
                        <div id="part-info">Контент провайдеры</div>
                    </div>
                </figure>

                <figure class="white">
                    <a href="/pull">
                        <img src="/img/font-2.jpg" alt="" />
                        <dl>
                            <dt>Все пулы номеров</dt>
                            <dd>В этом разделе хранятся все пулы.</dd>
                        </dl>
                    </a>
                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="img/icon-font.svg" alt="" width="28" height="28"/></div>
                        <div id="part-info">Пулы номеров</div>
                    </div>
                </figure>

                <figure class="white">
                    <a href="/crm">
                        <img src="/img/font-3.jpg" alt="" />
                        <dl>
                            <dt>Дерево CRM B2C</dt>
                            <dd>В этом разделе можно увидеть дерево SR CRM.</dd>
                        </dl>
                    </a>
                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="img/icon-font.svg" alt="" width="28" height="28"/></div>
                        <div id="part-info">Дерево CRM B2C</div>
                    </div>
                </figure>

                <figure class="white">
                    <a href="/crmpost">
                        <img src="/img/ai-2.jpg" alt="" />
                        <dl>
                            <dt>Дерево CRM B2B</dt>
                            <dd>В этом разделе можно увидеть дерево SR CRM.</dd>
                        </dl>
                    </a>
                    <div id="wrapper-part-info">
                        <div class="part-info-image"><img src="img/icon-font.svg" alt="" width="28" height="28"/></div>
                        <div id="part-info">Дерево CRM B2B</div>
                    </div>
                </figure>

            </section>
        </div>
    </div>

    <div id="wrapper-oldnew">
        <div class="oldnew">
            <div class="wrapper-oldnew-prev">
                <div id="oldnew-prev"></div>
            </div>
            <div class="wrapper-oldnew-next">
                <div id="oldnew-next"></div>
            </div>
        </div>
    </div>

    <!-- Footer-->

    <div id="wrapper-copyright">
        <div class="copyright">
            <div class="copy-text object">Beeline © 2020</div>


        </div>
    </div>
</div>


<!-- SCRIPT -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>



</body>
</html>